<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h1 class="page-header"><span class="h2">計 </span>{{getOverview().amount | minusCurrency:"¥":0}}</h1>
        <h2>立替額：{{getOverview().paid | currency:"¥":0}}</h2>
        <h2>支払額：{{-getOverview().haveToPay | minusCurrency:"¥":0}}</h2>
      </div>
      <div class="col-sm-6">
        <div>aaa</div>
        <button type="" class="btn btn-primary btn-lg btn-block media-object" ng-click="">立替新規追加</button>
        <button type="" class="btn btn-primary btn-lg btn-block media-object" ng-click="">立替新規追加</button>
      </div>
    </div>
  </div>
</header>


<div class="container tab-container">
  <tabset justified="true" type="pills">
    <tab heading="立替額">
      <h1>立替額:</h1>
      <p class="lead">自分が立て替えた金額</p>
      <payment-card-list>
        <div ng-repeat="p in myPayments | orderBy: '-_id' | orderBy: '-date' | limitTo: 6" ng-show="!p.isDelete">
          <payment-card item="p" />
        </div>
      </payment-card-list>
    </tab>
    <tab heading="支払額">
      <h1>支払額:</h1>
      <p class="lead">誰かが立て替えてくれた金額</p>
      <payment-card-list>
        <div ng-repeat="p in theirPayments | orderBy: '-_id' | orderBy: '-date' | limitTo: 6" ng-show="!p.isDelete">
          <payment-card item="p" />
        </div>
      </payment-card-list>
    </tab>
  </tabset>
</div>

<div ng-include="'components/footer/footer.html'"></div>
