// Colors
// --------------------------------------------------

$btnText:                           #fff;
$btnTextAlt:                        #000;

h1 .xs-small, .h1 .xs-small{
    @media screen and (max-width: 768px) {
        font-size: 21px;
    }
}

.jumbotron {
    color: #333;
}

img.coin {
    margin: 15px 15px 15px 0;
    &:last-child {
    margin-right: 0;
    }
}

a.signup {
    margin-left: 25px;
}