.payment-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
    background: #16A6B6;

    .radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline{
        margin-left: 0px;
    }
}

.card {
    position:relative;
    display: block;
    height: 130px;
    margin-bottom: 20px;
    background-color: #fff;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 1px 2px 1px rgba(0,0,0,0.2);
    &:hover{
        box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
    }

    span, ul, button {
        position: absolute;
        display: block;
        list-style: none;
    }
    span:not(.amount), ul {
        color: #666;
    }
    .paidUser {
        left: 15px;
        top: 10px;
        font-size: 16px;
    }
    .amount {
        left:15px;
        top: 30px;
        font-size: 30px;
        //font-weight: bold;
        text-decoration: underline;
        color: #333;
    }
    .date {
        left: 15px;
        bottom: 30px;
    }
    .event {
        left: 100px;
        bottom: 30px;
    }
    .description {
        left: 15px;
        bottom: 10px;
    }
    .participants {
        right: 15px;
        bottom: 10px;
        .other .tooltip{
            display: none;
            padding: 8px;
            font-size: 12px;
            margin-left: 8px;
            line-height: 1.6;
        }
        .other:hover .tooltip{
            display: inline;
            position: absolute;
            background-color: #fff;
            border: 1px solid #cccccc;
            color: #333;
            opacity: 1;
            width: 100px;
            p:last-child {
                margin-bottom: 0;
            }
        }
    }
    .close {
        right: 15px;
        top: 10px;
    }
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}


// checkboxの見た目
input[type=checkbox] {
    display: none;
    margin: 0;
}

input[type=checkbox] + label {
    padding: 0;
    font-weight: inherit;
    cursor: pointer;
}

input[type=checkbox] + label::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    width: 18px;
    height: 18px;
    margin-left: -2px;
    margin-top: -12px;
    background: #fff;
}

input[type=checkbox] + label::before {
    border: 2px solid #ccc;
    border-radius: 50%;
}

input[type=checkbox]:checked + label::after {
    content: "";
    position: absolute;
    top: 50%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    left: 3px;
    width: 8px;
    height: 8px;
    margin-top: -7px;
    background: #ee8844;
    border-radius: 50%;
}

input[type=checkbox] + label:hover::after {
    content: "";
    position: absolute;
    top: 50%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    left: 0;
    width: 14px;
    height: 14px;
    margin-top: -10px;
    background: rgba(238, 136, 68, 0.5);
    border-radius: 50%;
}

input[type=checkbox]:checked + label:hover::after {
    left: 3px;
    width: 8px;
    height: 8px;
    margin-top: -7px;
    background: #ee8844;
    border-radius: 50%;
}
