<%= @user.account %> 様

<p>いつもYOSHINANIをご利用いただき、誠にありがとうございます。</br>
YOSHINANI運営事務局です。</p>

<p>パスワードの再設定には以下の再設定用の認証キーが必要です。</p>

<p><%= @user.reset_password_token %></p>

<p>なお、上記の再設定キーは発行より30分間のみ利用可能です。</p>

<p>ご不明な点がございましたら、お気軽にお問い合わせください。</br>
また、このメールにお心当たりがない場合は、</br>
大変お手数ですが下記メールアドレスにご連絡ください。</p>
<p>mikazuki.ttp@gmail.com</p>

<p>今後とも、YOSHINANIをよろしくお願いいたします。</p>

━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━</br>
YOSHINANI　運営事務局</br>
E-mail: mikazuki.ttp@gmail.com</br>

━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━</br>
