<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <h1>グループ</h1>
    <table class="table table-hover">
        <tr>
            <th class="text-center">名前</th>
            <th class="text-center">差引</th>
            <th class="text-center">立替額</th>
            <th class="text-center">支払額</th>
        </tr>
        <tr ng-repeat="o in overviews | orderBy: '-_userId' | startFrom: paginator.page * paginator.perPage | limitTo: paginator.perPage">
            <td class="text-center">{{o.userName}}</td>
            <td class="text-right minus-{{o.amount<0}}">{{o.amount | minusCurrency:"¥":0}}</td>
            <td class="text-right">{{o.paid | currency:"¥":0}}</td>
            <td class="text-center">{{o.haveToPay | currency:"¥":0}}</td>
        </tr>
    </table>

    <div class="row" ng-show="{{paginator.numPages>1}}">
        <div class="col-sm-12">
            <ul class="pagination">
                <li ng-click="paginator.prevPage()" ng-class="{disabled: paginator.page <= 0}">
                    <a href="">Prev</a>
                </li>
                <li ng-repeat="num in [] | range: paginator.numPages" ng-class="{active: paginator.page == num}">
                    <a href="" ng-click="paginator.toPageId(num)">{{num + 1}}</a>
                </li>
                <li ng-click="paginator.nextPage()" ng-class="{disabled: paginator.page >= paginator.numPages - 1}">
                    <a href="">Next</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>
