.trash { color:rgb(209, 91, 71); }

.table {
    margin-top: 15px;
}

.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
    background-color: #fff;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th {
    border-top: none;
    &:first-child {
        border-radius: 10px 0 0 0;
    }
    &:last-child {
        border-radius: 0 10px 0 0;
    }
}

.table > thead > tr:last-child > td, .table > tbody > tr:last-child > td, .table > tfoot > tr:last-child > td {
    &:first-child {
        border-radius: 0 0 0 10px;
    }
    &:last-child {
        border-radius: 0 0 10px 0;
    }
}

.table tr.haveToPay > td:first-child:before {
    position: absolute;
    display: block;
    content: 'â—';
    color: rgb(238, 136, 68);
}
