<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <h1>履歴</h1>
    <table class="table table-hover">
        <tr>
            <th class="text-center">日付</th>
            <th class="text-center">イベント</th>
            <th class="text-center">用途</th>
            <th class="text-center">立替人</th>
            <th class="text-center">金額</th>
            <th class="text-center">参加者</th>
        </tr>
        <tr class="{{p.haveToPay?'haveToPay':''}}" ng-repeat="p in payments | orderBy: '-_id' | orderBy: '-date' | startFrom: paginator.page * paginator.perPage | limitTo: paginator.perPage">
            <td class="text-center">{{p.date | date:"''''yy MM/dd"}}</td>
            <td>{{p.event}}</td>
            <td>{{p.description}}</td>
            <td class="text-center">{{p.paidUser.name}}</td>
            <td class="text-right">{{p.amount | currency:"¥":0}}<br>
                <small>({{p.amount/p.participants.length | currency:"¥":0}})</small>
            </td>
            <td class="text-center">{{p.participants.length}}人</td>
        </tr>
    </table>

    <div class="row">
        <div class="col-sm-12">
            <ul class="pagination">
                <li ng-click="paginator.prevPage()" ng-class="{disabled: paginator.page <= 0}">
                    <a href="">Prev</a>
                </li>
                <li ng-repeat="num in [] | range: paginator.numPages" ng-class="{active: paginator.page == num}">
                    <a href="" ng-click="paginator.toPageId(num)">{{num + 1}}</a>
                </li>
                <li ng-click="paginator.nextPage()" ng-class="{disabled: paginator.page >= paginator.numPages - 1}">
                    <a href="">Next</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>
